include ./../../components/chat-card/chat-card.pug

doctype html
html(lang="ru")
    head
        include ./../../../src/layouts/head.pug
        link(rel="stylesheet", href="../../index.scss")
        link(rel="stylesheet", href="main.scss")
    body.body
        nav.sidebar
            div.sidebar__profile-block
                a(href='/profile').sidebar__profile-link Профиль
            div.sidebar__search-box-container
                input(placeholder='Поиск').search-box.sidebar__search-box
            div.chat-list
                +chat-card('Андрей', 'Изображение')
        main.main-block Выберите чат чтобы отправить сообщение