doctype html
html(lang="ru")
    head
        include ./layouts/head.pug
        link(rel="stylesheet", href="./index.scss")
        body
            a(class="link-menu" href="pages/login/login.pug") Логин
            a(class="link-menu" href="pages/signup/signup.pug") Регистрация
            a(class="link-menu" href="pages/not-found/not-found.pug") Not Found
            a(class="link-menu" href="pages/profile/profile.pug") Профиль
            a(class="link-menu" href="pages/server-error/server-error.pug") Ошибка Сервера
            a(class="link-menu" href="pages/main/main.pug") Главная